{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<p><a href="https://github.com/mirek-gregorowicz" target="_blank" style="font-size: 30px;">Git Hub</a></p>
<p><a href="https://hub.docker.com/u/mirek333g" target="_blank" style="font-size: 30px;">Docker Hub</a></p>
<p><a href="https://facebook.com/mirek.gregorowicz" target="_blank" style="font-size: 30px;">Facebook</a></p>
<p><a href="https://twitter.com/mirekgregorowicz" target="_blank" style="font-size: 30px;">X (Twitter)</a></p>
<p><a href="mailto:mirek33g@gmail.com" onclick="copyToClipboard('mirek33g@gmail.com')" style="font-size: 30px;">E-mail</a></p>
<p><a href="tel:+447591118916" onclick="copyToClipboard('+447591118916')" style="font-size: 30px;">Phone Number</a></p>


<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function() {
            alert('Copied to clipboard: ' + text);
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    }
</script>
{% endblock %}
