{% extends "base.html" %}
{% block title %}Curriculum Vitae{% endblock %}
{% block content %}

<div class="image-container d-flex justify-content-center align-items-center mx-auto"
     style="max-width: 800px; max-height: 500px; overflow-y: auto;">
    <img src="/static/assets/css/images/CV.jpg" alt="CV" class="img-fluid"
         style="max-width: 100%; object-fit: contain; object-position: center top;">
</div>


<div class="text-center mt-3">
    <a href="{{ url_for('certificates') }}" class="btn btn-primary">View Certificates</a>
</div>

{% endblock %}
