{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<p>Technical Skills:</p>
<span>Backend Programming in Python: I have experience in developing web applications using Flask and Django frameworks.
    I handle server-side functionality design and implementation, database management, and API development.</span>
<p>Proficiency in Tools and Technologies:</p>
<span>I possess practical knowledge in using tools such as Git for version control and Docker for containerization.
    I also have experience working with databases, including MySQL.</span>
<p>Frontend Basics:</p>
<span>I have a basic understanding of Frontend technologies, including HTML, CSS, and JavaScript.
    I can create responsive user interfaces and integrate them with the Backend part of applications.</span>
<p>Education and Professional Development:</p>
<span>I am learning Backend programming and enhancing my skills in web technologies through self-study, online courses,
    and practical projects.</span>

{% endblock %}
